<section>
  <div class="button-row">
    <div #cross class="cube"></div>
    <a mat-raised-button color="primary" type="button" href="/beginner-cross">Cross</a>
  </div>
  <div class="button-row">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="button-row">
    <a mat-raised-button color="primary" type="button" href="/beginner-cfop">Back</a>
  </div>
</section>
