<section>
  <div class="row">
    <div class="col">
      <div #cross class="cube"></div>
      <a mat-raised-button color="primary" type="button" href="/advanced-cross">Cross</a>
    </div>
    <div class="col">
      <a mat-raised-button color="primary" type="button" href="/advanced-f2l">F2L</a>
      <div #f2l class="cube"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div #oll class="cube"></div>
      <a mat-raised-button color="primary" type="button" href="/advanced-oll">OLL</a>
    <div class="col">
    </div>
      <a mat-raised-button color="primary" type="button" href="/advanced-pll">PLL</a>
      <div #pll class="cube"></div>
    </div>
  </div>
  <div class="row">
    <a mat-raised-button color="primary" type="button" href="/cfop">Back</a>
  </div>
</section>
