<section>
  <div class="button-row">
    <div #cross class="cube"></div>
    <a mat-raised-button color="primary" type="button" href="/beginner-cross">Cross</a>
    <a mat-raised-button color="primary" type="button" href="/beginner-f2l">F2L</a>
    <div #f2l class="cube"></div>
  </div>
  <div class="button-row">
    <div #oll class="cube"></div>
    <a mat-raised-button color="primary" type="button" href="/beginner-oll">OLL</a>
    <a mat-raised-button color="primary" type="button" href="/beginner-pll">PLL</a>
    <div #pll class="cube"></div>
  </div>
</section>
