/* VARIABLES */
@marginEdge: 50px;

/* FUNCTIONS */
.basket(@background, @to-right, @to-left, @size:25px) {
  background: linear-gradient(45deg, @to-right 12%, transparent 0, transparent 88%, @to-right 0),
              linear-gradient(135deg, transparent 37%, @to-left 0, @to-left 63%, transparent 0),
              linear-gradient(45deg, transparent 37%, @to-right 0, @to-right 63%, transparent 0),
              @background;
  background-size: @size @size;
}

.button(@space) {
  margin: @space;
  margin-bottom: @marginEdge;
}

/* STYLE */
html {
  .basket(#000, #444, #222, 40px);
  color: white;
}

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%
}

.row {
  text-align: center;
  a {
    .button(10px)
  }
}

.mat-table {
  margin: @marginEdge;
  text-align: center;
}

div.cube {
  display: inline;
  vertical-align: bottom;
}
