<section>
  <div class="row">
    <a mat-raised-button color="primary" type="button" href="/beginner-f2l">F2L</a>
    <div #f2l class="cube"></div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Repetitive</h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col">
      <h1>Intuitive</h1>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Ar_Zit1VLG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <a mat-raised-button color="primary" type="button" href="/beginner-cfop">Back</a>
  </div>
</section>
