<section>
  <div class="button-row">
    <a mat-raised-button color="primary" type="button" href="/beginner-f2l">F2L</a>
    <div #f2l class="cube"></div>
  </div>
  <div class="button-row">
    <a mat-raised-button color="primary" type="button" href="/beginner-f2l-repetitive">Repetitive</a>
    <a mat-raised-button color="primary" type="button" href="/beginner-f2l-intuitive">Intuitive</a>
  </div>
  <div class="button-row">
    <a mat-raised-button color="primary" type="button" href="/beginner-cfop">Back</a>
  </div>
</section>
